<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Goldfish JS</h1>
    <p>A tool to help people better understand others' code.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Download GoldfishJS</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/darksim735/gitplayback"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To get started, download the executable above.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How Goldfish JS works</h3>
      <ul>
        <li>Goldfish JS is a local desktop application built using nw.js</li>

        <li>Modularized database allows local storage of file histories, and allows you to work offline.</li>
        <li>Drag & Drop a folder onto the application to begin recording the repository's file history.</li>
        <li>Fully traverse a file's timeline both backwards and forwards.</li>
        <li>Use 'diff mode' to clearly highlight what has changed between different states of a file</li>
        <li>Full syntax highlighting and error alerts/warnings for a wide-range of languages.</li>
      </ul>
    </div>
<!--    <div class="col-md-6">

    </div> -->
  </div> <!-- row -->

</div>


</body>
</html>
